---
layout: default
title: Home
---

    <main>
        <h1>Welcome to my Website!</h1>
        <div class="container">
            <div class="row">
                <!-- Left Column: Image -->
                <div class="column left">
                    <div style="height: 50px;"></div>
                <img src="{{ site.baseurl }}/images/home_pic.jpeg" 
                     alt="Apple touch icon" 
                     style="width: 100%; max-width: 800px;">
                </div>

                <!-- Right Column: Text -->
                <div class="column right">
                    <div style="height: 50px;"></div>
                    <p>Hello! :) </p>
                    <p>I am Alessandro, a second-year PhD student in Economics at the ifo Institute and LMU (Munich, Germany). </p>
                    <p> I am generally curious about anything that falls within applied microeconomics, but with a special interest in gender economics!</p>
                    <p>Feel free to send me an email at difilippo -at- ifo.de</p>
                </div>
            </div>
        </div>
    </main>

      {% comment %}


<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
      {% endcomment %}
